[submodule "third_party/QDarkStyleSheet"]
	path = third_party/QDarkStyleSheet
	url = git@github.com:ColinDuquesnoy/QDarkStyleSheet.git

[submodule "third_party/wykobi"]
	path = third_party/wykobi
	url = https://github.com/ArashPartow/wykobi.git
[submodule "third_party/enum-flags"]
	path = third_party/enum-flags
	url = https://github.com/grisumbras/enum-flags
[submodule "third_party/zugbruecke"]
	path = third_party/zugbruecke
	url = https://github.com/pleiszenburg/zugbruecke.git
